.logo{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2vh;
    min-height: 28px;
    height: 2vw;
    gap: 0.1vw;
    margin-right: 35px;
}

.logo img{
    height: 100%;
}