.header{
    background-color: white;
    height: 7vw;
    display: flex;
    min-height: 72px;
    justify-content: left;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
}

